
body {
    background-image: url("../img/main-background.jpg");
    background-color: #336d13;
}

.image-area img {
    width: 350px;
}

#answer-suggestions .answer-suggestion {
    margin: 1px;
}

#answer-suggestions .answer-suggestion span {
    cursor: pointer;
}







#loader {
    position: absolute;
    top: 25%;
    left: 25%;
}



#question {
    padding: 5px;
}

#question #question-image,
#question #question-answer,
#question #answer-suggestions,
#question #check-answer,
#question #answer-result {
    background: #ffffffa3;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}