
body {
    /*background-image: url("../img/main-background.jpg");*/
    /*background-color: #336d13;*/
}

.image-area img {
    width: 350px;
}

#answer-suggestions .answer-suggestion {
    margin: 1px;
}

#answer-suggestions .answer-suggestion span {
    cursor: pointer;
}